:root {
  --sans: ui-sans-serif, sans-serif;
  --serif: ui-serif, serif;
  --mono: ui-monospace, monospace;
}

html {
  color-scheme: light dark;

  font-family: var(--sans);
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 1rem;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: unset;
}
