.v-stack {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.card {
  border: 1px solid var(--light-border);
  padding: 16px 24px;
  border-radius: 8px;
  background-color: var(--panel);
}

button {
  font-size: 0.85rem;
  padding: 0.5em 1em;
  border: none;
  background-color: var(--page);
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  /* transition */
  outline: 2px solid transparent;
  outline-offset: -2px;
  transition: 0.4s;

  &.theme:hover {
    color: var(--theme);
    outline-color: var(--theme);
  }

  &.warn:hover {
    color: var(--warn);
    outline-color: var(--warn);
  }
}
