.card {
  border: 1px solid var(--light-border);
  padding: 16px 24px;
  border-radius: 8px;
  background-color: var(--panel);
}

button {
  font-size: .85rem;
  padding: 0.5em 1em;
  border: none;
  background-color: var(--page);
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
}
