@import './base.css';
@import './components.css';

:root {
  /* color */
  --theme: #5c95ba;
  --black: #1e1e1e;

  /* Color theme */
  --font: var(--black);
  --page: #ffffff;
  --panel: #f5f6f8;
  --border: #e6e8ec;
  --light-border: #eef0f4;
  --lighter: #b7b9be;

  @media (prefers-color-scheme: dark) {
    --font: #fffeff;
    --page: #292c2e;
    --panel: #202325;
    --border: #1a1c1e;
    --light-border: #1a1c1e;
    --lighter: #949697;
  }
}

body {
  color: var(--font);
  background-color: var(--page);
}

#app {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  overflow: auto;
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 640px;
  max-height: 100vh;
  padding: 16px 16px;
  margin: 0 auto;

  & > h2 {
    font-size: 2rem;
    margin: 0 0 32px 0;
  }
}

